.main-container{
    
    display: flex;
    width: 100%;
    height: 500px;
    left: 0px;
    top: 4120px;
    background: linear-gradient(270deg, #267ABE 0%, #195697 100%);
}
.main-title{
    width: 90%;
margin:15% 0 0 18%;
font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 45px;
line-height: 53px;
color: #FFFFFF;
}
.main-text{
    width: 80%;
height: 91px;
margin:8% 0 0 18%;
font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 140%;
color: #FFFFFF;
}
.main-btn{
    width: 40%;
height: 57px;
margin: 70px 0 0 18%;
background: #FFFFFF;
border-radius: 8px;
border:none;
}
.main-btn:hover{
    background: #FFFFFF;
    opacity: 0.5;
}

.main-btnn{
    font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 23px;
color: #6B7DA1;
text-decoration: none;
}
.main-img{
    margin-top:66px;
}
.main-title2{
    margin:12% 0 0 10%;
    font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 53px;
color: #046BAD;
}
.stanok{
    width: 87%;
margin: 67px 0 0 9%;
top: 4858px;
background: #F0F3F6;
border-radius: 16px;
}
.stanok-text{
    margin: 31px 0 0 39px;
    width: 300px;
height: 38px;
    font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 110.6%;
background: linear-gradient(270deg, #267ABE 0%, #195697 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;

}
.container6-1{
    padding-Left:9%;
    display:flex;
}
.container6{
    width: 46%;
height: 290px;
margin:40px 40px 40px 0%;
background: #F0F3F6;
border-radius: 16px;
}
.container6-2{
    display: flex;
}
.stanok-text1{
    width: 52%;
    height: 38px;
    margin: 31px 0px 0 39px;   
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 110.6%; 
    background: linear-gradient(270deg, #267ABE 0%, #195697 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
     
}
.stanok-text2{
    width: 38%;
height: 45px;
margin: 18px 0px 0 39px;
font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 110.6%;
color: #6B7DA1;
}
.img-responsive{
    width: 60%;
    height: 60%;
    margin:-58px 0 0 0;

}
.img-responsiv{
    width: 80%;
    height: 70%;
    margin: -60px 0px 0 -50px;

}

.stanok-text3{
    width: 282px;
    height: 38px;
    margin: 31px -220px 0 39px;   
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 110.6%; 
    background: linear-gradient(270deg, #267ABE 0%, #195697 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
     
}
.stanok-text4{
    width: 198px;
height: 45px;
margin: 18px -140px 0 39px;
font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 110.6%;
color: #6B7DA1;
}
.container7{
    display: flex;
    padding-Left:9%;
}
.row{
    width: 29.5%;
height: 290px;
margin-right: 40px;
top: 5518px;
background: #F0F3F6;
border-radius: 16px;
}
.row-title{
    width: 216px;
height: 19px;
margin: 31px 0 21px 39px;
font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 17px;
line-height: 110.6%;
background: linear-gradient(270deg, #267ABE 0%, #195697 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;

}
.row-text{
    width: 272px;
height: 45px;
margin: 0px 0 -63px 39px;
font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 110.6%;
color: #6B7DA1;
}
.row-img{
    margin-left: 58px;
}
.row-img1{
    margin: 50px 0 0 58px;
}
.row-img2{
    margin-left: 20px;
}
.btn3{
    width: 27%;
height: 69px;
margin:8% 0 10% 39%;
background: #046BAD;
border-radius: 8px;
border:none;
}
.btn3:hover{
    background: #004068;
}
.btn4{
    font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 23px;
color: #FFFFFF;
text-decoration: none;
}
.stan{
    margin:10px 0 0 0;
    width: 75%;
    height: 400px; 
}

@media (max-width:1024px) {
    .main-container{
        margin-top:30px;
        display: flex;
        width: 100%;
        height: 289px;
        left: 0px;
        top: 4120px;
        background: linear-gradient(270deg, #267ABE 0%, #195697 100%);
    }
    .main-title{
        width: 90%;
    margin:15% 0 0 18%;
    
    font-weight: 700;
    font-size: 28px;
    line-height:30px;
    }
    .main-text{
        width: 328px;
    height: 35px;
    margin:3% 0 0 18%;
    
    font-size: 14px;
    
    }
    .main-btn{
        width: 50%;
    height: 37px;
    margin: 8% 0 0 18%;
   
    }
    .main-btnn{
        font-size: 10px;    
    }
    .main-img{
        margin:36px 0 0 20%;
        width: 85%;
        height: 100%;
    }
    .main-title2{
        margin:3% 0 0 8%;    
        font-size: 28px;    
    }
      
        .stanok-text{
        margin: 31px -311px 0 39px;
        width: 366px;
    height: 55px;
    font-size: 18px;
     
    
    }
    .stanok{
        width: 88%;
        height: 300px;
        margin: 67px 0 0 7%;
    top: 4858px;
    }
    .stan{
        margin: -10px 0 0 0;
        width: 90%;
        height: 400px; 
    }
    .container6-1{
        padding-Left:7%;
        display:flex;
    }

    
    .container6{
        padding-left: 0px;
        width: 47%;
    height: 240px;
    margin:25px 8px 40px 0 ;
    display: block;
    }
    .stanok-text1{
        width: 82%;
        height: 38px;
        margin: 31px 2% 0 7%;   
        font-size: 17px;
        line-height: 110.6%;         
    }
    .stanok-text2{
        width: 40%;
        height: 85px;
        margin: 16px 0% 0 7%;
        font-size: 17px;    
    }
    .img-responsive{
        width: 53%;
        height: 55%;
        margin: -8% 0 0% 0%;
    }
    .container6-2{        
        display:flex;
    }
    .img-responsiv{
        width: 61%;
        height: 65%;
        margin: -2% 1px 0% -8%;
    }

    .container7{
        display: flex;
        margin: 0 0 0 0%;
        padding-Left: 7%
    }
    .row{
        width: 35%;
    height: 290px;
    margin-right: 10px;
    top: 5518px;
    }
    .row-title{
        width: 80%;
    height: 19px;
    margin:7% 7% 7% 10% ;  
     font-size: 17px;
     }
    .row-text{
        width: 70%;
    height: 45px;
    margin: 0px 0 -16% 10%;
     font-size: 17px;
     }
    .row-img{
        width: 95%;
        height: 90%;
        margin: -6% 0% 0% 5%;
    }
    .row-img1{
        width: 100%;
        height: 85%;
        margin: 8% 0% 0% 0%;
    }
    .row1{
        width: 23%;
    height: 290px;
    margin-right: 10px;
    top: 5518px;
    }
    .row-img2{
        width: 100%;
        height: 85%;
        margin: 2% 0% 0% 5%;
    }
    .btn3{
        width: 27%;
    height: 35px;
    margin:5% 0 5% 39%;
    
    }
    .btn4{
        font-style: normal;
    font-weight: 500;
    font-size: 13px;
    
    }
}
@media (max-width:768px) {
    .main-container{
        margin-top:65px;
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        height: 360px;
        left: 0px;
        top: 4120px;
        background: linear-gradient(270deg, #267ABE 0%, #195697 100%);
    }
    .main-title{
        width: 90%;
    margin:-5% 0 0 6%;
    
    font-weight: 700;
    font-size: 28px;
    line-height:30px;
    }
    .main-text{
        width: 328px;
    height: 35px;
    margin:3% 0 0 6%;
    
    font-size: 14px;
    
    }
    .main-btn{
        width: 88%;
    height: 37px;
    margin: 8% 0 20px 6%;
   
    }
    .main-btnn{
        font-size: 15px;    
    }
    .main-img{
        margin:0px 0 0 0%;
        width: 85%;
        height: 300px;
        
        
    }
    .main-title2{
        margin:3% 0 0 8%;    
        font-size: 28px;    
    }
      
        .stanok-text{
        margin: 31px -311px 0 39px;
        width: 366px;
    height: 55px;
    font-size: 18px;
     
    
    }
    .stanok{
        width: 88%;
        height: 300px;
        margin: 67px 0 0 7%;
    top: 4858px;
    }
    .stan{
        margin: -10px 0 0 0;
        width: 90%;
        height: 400px; 
    }
    .container6-1{
        padding-Left:7%;
        display:block;
    }

    
    .container6{
        padding-left: 0px;
        width: 95%;
    padding-top: 4px;
    height: 240px;
    margin:25px 8px 40px 0 ;
    display: block;
    }
    .stanok-text1{
        width: 82%;
        height: 38px;
        margin: 31px 2% 0 7%;   
        font-size: 17px;
        line-height: 110.6%;         
    }
    .stanok-text2{
        width: 40%;
        height: 85px;
        margin: 16px 0% 0 7%;
        font-size: 17px;    
    }
    .img-responsive{
        width: 53%;
        height: 55%;
        margin: -12% 0 0% 0%;
    }
    .container6-2{        
        display:flex;
    }
    .img-responsiv{
        width: 61%;
        height: 65%;
        margin: -7% 1px 0% -8%;
    }

    .container7{
        display: block;
        margin: 0 0 0 0%;
        padding-Left: 7%
    }
    .row{
        width: 95%;
    height: 290px;
    margin:40px  10px 0 0;
    top: 5518px;
    padding: 1px 0 0 0;
   
    }
    .row5{
        display: flex;
   
    }
    .row-title{
        width: 80%;
    height: 19px;
    margin:7% 7% 7% 7% ;  
     font-size: 17px;
     
     }
    .row-text{
        width: 70%;
    height: 45px;
    margin: 0px 0 -16% 7%;
     font-size: 17px;
     }
    .row-img{
        width: 54%;
        height: 90%;
        margin: -8% 0% 0% 5%;
    }
    .row-img1{
        width: 100%;
        height: 85%;
        margin: -10% 0% 0% 0%;
    }
    .row1{
        width: 95%;
    height: 290px;
    margin-right: 10px;
    top: 5518px;
    }
    .row-img2{
        width: 69%;
        height: 85%;
        margin: -14% 0% 0% 5%;
    }
    .btn3{
        width: 89%;
    height: 45px;
    margin:5% 0 5% 7%;
    
    }
    .btn4{
        font-style: normal;
    font-weight: 500;
    font-size: 13px;
    
    }
}
@media (max-width:630px) {
    .main-img{
        margin:12% 0 0 0%;
        width: 85%;
        height: 100%;
        
    }
}
@media (max-width:490px) {
    .main-img{
        margin:2% 0 0 0%;
        width: 85%;
        height: 100%;
        
    }
}