<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="">
        <div className="menu-btn active">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div className="menu active">
           <nav>
            <li>menu</li>
            <li>menu</li>
            <li>menu</li>
           </nav>
        </div>
    </header>
    
</body>
</html> -->